<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pisignage.pisignageforandroidtv"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pisignage"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:banner="@drawable/banner"
        android:theme="@style/Theme.PiSignageForAndroidTV">

        <activity
            android:name=".MainActivity"
            android:banner="@drawable/banner"
            android:icon="@drawable/pisignage"
            android:logo="@drawable/pisignage"
            android:screenOrientation="landscape"
            tools:ignore="WrongManifestParent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>
</manifest>